.compo1{
    // padding-bottom: -20px;
    margin-top: -30px;
    margin-left: -30px; 
    margin-right: -30px;
    margin-bottom: -50px;
    padding: 0px;
    box-sizing: border-box;

    
}
// tamaño del texto del modal de Ingresos Tipo: Sub Gen
#Filtros{
    margin-top: 4px;
    margin-bottom: -4px;
    margin-left: -15px; 
    margin-right: 0px;
}


.example-container {
    height: 685.5px;
    overflow: auto;
    padding: 0px;
    padding-bottom: -10px ;

  }
  
  table {
    width: 100%;
    min-width: 200px;
    max-width: 1000px;
    max-height: flex;
  }


  #Colum{
    color: white;
    background-color: rgb(48, 11, 83);   
    font-weight: bold;
    font-size: 11px;
    }
  
    

.example-button-row button,
    
.example-button-row a {
  margin-left: 50px;
  

}





#card-G{

    height: 900px;
    margin: 0rem;
    margin-bottom: 0px;
    padding-bottom: 0px;
    display: auto;
}
#card1{
    padding: 0px;
    padding-top: 10px;
    margin-left: -10px;
    margin-right: -10px;
    margin-bottom: 0px;
    height: 853px;

}
#card2T{
    padding: 0px;
    padding-top: 0px;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 27px;
    border-radius: 8px;

}

#card3T{
    padding: 0px;
    padding-bottom: px; 
    padding-top: -40px;
    margin-top: -17px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 10px;
    border-radius: 8px;

}

#card4T{
    padding: 3px;
    padding-top: 2px;
    margin-top: -21px;
    margin-left: 0px;
    margin-bottom: -30px;
}

#card5T{
    padding: 4px;
    padding-top: 10px;
    margin-top: -10px;
    margin-left: 0px;
    margin-bottom: 23px;
}


#card6T{
    padding: 2px;
    padding-top: 2px;
    margin-top: -10px;
    margin-left: 0px;
    margin-bottom: 20px;
}

#CardTitle{
    padding: 5px;
    padding-top: 0px;
    padding-bottom: -7px;
    margin-top: -7px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: -15px;
}

#table1{
    padding: 0px;
    padding-top: 0px;
    padding-bottom: 40px;
    margin-top: 0px;
    margin-left: 0px;
    margin-bottom: 40px;
}


// TAbs B

.example-small-box, .example-large-box {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px;
    padding: 0px;
    border-radius: 8px;
  }
  
  .example-small-box {
    height: 100px;
    width: 100px;
  }
  
  .example-large-box {
    margin-left: 0px;
    margin-right: 0px;
  
  }

//   #card99{
//     padding: 0px;
//     padding-top: 0px;
//     margin-left: -10px;
//     margin-right: -10px;
//     margin-bottom: 0px;
// }
// #campoB{
//      margin-top: -30px;
//     margin-left: -30px; 
//     margin-right: -30px;
//     margin-bottom: -50px;
//     padding: 0px;

// }




#card99{
    padding: 0px;
    padding-left: -10px;
    padding-top: 0px;
    margin-left: 0px;
    margin-right: -10px;
    margin-bottom: 0px;
}
#campoB{
    margin-top: 0px;
    margin-left: -10px; 
    margin-right: 0px;
    margin-bottom: 00px;
    padding: 0px;

}

#nuu1{
    padding: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: -10px;
    padding-right: -10px;

    margin-top: -10px;
    margin-left: 0px;
    margin-right: 0px;
}
#compoB{
    padding: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;

}


.example-buttonB button,
    
.example-buttonB a {
  margin-right: 8px;
  margin-left: 10px;

}
