<div class="row" style="margin-top: -28px; margin-left: -40px; margin-right: -40px;"> 
    <div class="col-md-12 ">
      <nb-card>
          <nb-card-header>Clasificadores Presupuestales</nb-card-header>
              <nb-card-body>
              <div class="row show-grid">
                            
                  <div class="col-md-6" style="margin-left: 0px; margin-right: 0px;"  >
                    <nb-card-body>
                        <ng2-smart-table [settings]="settings" [source]="source" (deleteConfirm)="onDeleteConfirm($event)">
                        </ng2-smart-table>

                        <table class="resposive"><tr>
                            hola miundo
                        </tr></table>
                    </nb-card-body>
                  </div>
  
                  <div class="col-md-6" style="margin-left: 0px; margin-right: 0px;"  >
                    <nb-card-body>
                        <ng2-smart-table [settings]="settings" [source]="source" (deleteConfirm)="onDeleteConfirm($event)">
                        </ng2-smart-table>
                    </nb-card-body>
                </div>
  
              </div>
          </nb-card-body>
  </nb-card></div></div>