// @nebular theming framework
@import '~@nebular/theme/styles/theming';
// @nebular out of the box themes
@import '~@nebular/theme/styles/themes';
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

$nb-themes: nb-register-theme((
  layout-padding-top: 0rem,
  
  menu-item-icon-margin: 0 0.2rem 0 0,

  card-height-tiny: 13.5rem,
  card-height-small: 21.1875rem,
  card-height-medium: 28.875rem,
  card-height-large: 36.5625rem,
  card-height-giant: 44.25rem,
  card-margin-bottom: 1.875rem,
  card-header-with-select-padding-top: 0.5rem,
  card-header-with-select-padding-bottom: 0.5rem,


  color-primary-100: rgb(18, 230, 64),
  color-primary-200: #FED2C2,
  color-primary-300: #FEB3A3,
  color-primary-400: rgb(243, 209, 17),
  color-primary-500: #ecb731,
  color-primary-600: rgb(185, 39, 190),
  color-primary-700: rgb(92, 16, 30),
  color-primary-800: rgb(32, 146, 89),
  color-primary-900: #791336,
  color-primary-transparent-100: rgba(15, 218, 167, 0.08),
  color-primary-transparent-200: rgba(253, 103, 103, 0.16),
  color-primary-transparent-300: rgba(253, 103, 103, 0.24),
  color-primary-transparent-400: rgba(253, 103, 103, 0.32),
  color-primary-transparent-500: rgba(253, 103, 103, 0.4),
  color-primary-transparent-600: rgba(253, 103, 103, 0.48),


  select-min-width: 6rem,

  slide-out-background: #0463f1,
  slide-out-shadow-color: 0 4px 14px 0 #8dd408,
  slide-out-shadow-color-rtl: 0 4px 14px 0 #595a08,
), default, default);

